@namespace AppStore.Components
@inject IApplicationProvider ApplicationProvider

<div class="application-list">
    <InfiniteList Context="app" LoadMoreDataAsync="LoadMoreApplication">
        <ItemsTemplate>
            <div class="app">
                <div class="display-name">@app.DisplayName</div>
            </div>
        </ItemsTemplate>
    </InfiniteList>
</div>

@code
{
    private List<string>? _applicationMataDataUris;

    private int _count = 0;

    private async Task<IEnumerable<Application>> LoadMoreApplication()
    {
        await Task.Delay(3000);
        return await ApplicationProvider.GetApplicationsAsync(_count++ * 10, 10);
    }
}